/* div {
    width: 100%;
    max-width: 200px;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(239, 52, 52);
    font-size: 12px;
    font-weight: 100;
    font-family: "Roboto", "sans-serif";
} */

.box {
    width: 200px;
    height: 200px;
    background-color: green;
    border: 15px solid red;
    padding: 15px;
    margin: 15px;
}